@charset "utf-8";

.login-bg {
    overflow: hidden;
    height: 100%;
    min-height: 600px;
    background-image: url(../images/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.login-main {
    min-width: 950px;
    margin-top: 20px;
}

.login-topic {
    margin-top: 20px;
    text-align: center;
}

.login-middle {
    float: right;
    overflow: hidden;
    width: 425px;
    height: 280px;
    margin-top: 20px;
    padding-left: 30px;
    border:white 3px solid;
    background-color: #0080ff;
    border-radius: 10px 10px;
}